<div id="houselist"></div>
<script type="text/template" id="housetablerow">
  <div class="row {{{parity}}}" data-id="{{{_id}}}">
    <div class="col col-lg-3"><img class="zillowpic" src="{{{zillowpic}}}"/></div>
    <div class="col col-lg-9">
      {{{house_number}}} {{{street}}}
      <br>
      {{{city}}} {{{zip}}}
      <br>
      <a href="{{{zillowlink}}}"><img src="/zillow_icon.gif"/> Zillow</a>
    </div>
  </div>
</script>
<script type="text/javascript" src="/houselist.js"></script>
