<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/style.css"/>
<link type="text/css" rel="stylesheet" href="/bs/dist/css/bootstrap.min.css"/>
<script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/bs/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/mustache.js"></script>
<script type="text/template" id="housetablerow">
  <div class="row {{{parity}}}">
    <div class="col-lg-3"><img class="zillowpic" src="{{{zillowpic}}}"/></div>
    <div class="col-lg-9">
      {{{house_number}}} {{{street}}}
      <br>
      {{{city}}} {{{zip}}}
      <br>
      <a href="{{{zillowlink}}}"><img src="/zillow_icon.gif"/> Zillow</a>
    </div>
  </div>
</script>
<script type="text/javascript">

$.ajax({
    url: "/ajax/houses",
    type: "GET",
    dataType: "json",
    success: function(houses){
      $(document).ready(function() {
        var i;
        $('#nhouses').text(houses.length);
        for (i=0; i<houses.length; ++i) {
          houses[i].parity = (i % 2 === 0) ? "even" : "odd";
          $('#houselist').append($(Mustache.render($('#housetablerow').text(), houses[i])));
        }
      })
    }
})

</script>
</head>
<body>

  <div class="navbar">
    <a class="navbar-brand" href="#">Houses</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">List</a></li>
      <li><a href="#">Map</a></li>
      <li><a href="#">Add</a></li>
      <li><a href="#">Filter</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.emails[0].value %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="houselist"></div>
  
</body>
</html>
