<!DOCTYPE html>
<html>
<head>
  <% include common-head %>

<script type="text/javascript">
var boohoo = function () {
  console.log('boo hoo!');
  window.setTimeout(boohoo, 2000);
}
//boohoo();
</script>

</head>
<body>
  <div class="container">
    <% include navbar %>
    <% include houselist %>
  </div>
</body>
<script type="text/javascript">setActiveMenuItem("list");</script>
</html>
