<!DOCTYPE html>
<html>
<head>
  <% include common-head %>
</head>
<body>
  <div class="container">
    <% include navbar %>
    <% include houselist %>
  </div>
</body>
<script type="text/javascript">setActiveMenuItem("list");</script>
</html>
