<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/style.css"/>
<script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/mustache.js"></script>
</head>
<body>
   <div class="header">
     <div class="user">
       <div class="login"><a href="/auth/google">login</a></div>
     </div>
   </div>
</body>
</html>
