<!DOCTYPE html>
<html>
<head>
  <% include common-head %>
</head>
<body>

  <div class="navbar">
    <a class="navbar-brand" href="#">Houses</a>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/auth/google">Login</a></li>
    </ul>
  </div>
  
</body>
</html>
